[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tkcalendar = "*"
mysql-connector-python = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python clock_timestamp_controller.py"
